.panda-slider-bg {
    background-color: #fceae8;
}

.catgories img {
    width: 100px;
}

.catgories-watch-bg {
    background-color: #FFA500;
}

.catgories-bags-bg {
    background-color: #DA70D6;
}

.catgories-shoes-bg {
    background-color: #0000FF;
}

.panda-slider-price-color {
    color: #FF589B;

}

.panda-slider-button-bg {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.panda-prouct-btn-bg {
    border: none;
    border-radius: 8px;
    color: #fff;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 9px 25px;
}

.panda-subscribe-section-bg {
    background-color: #fceae8;
    height: 300px;
}

.panda-subscribe-section-bg-btn {
    border: none;
    border-radius: 8px;
    color: #fff;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 9px 25px;
}
footer p a {
  color: #000;
  text-decoration: none;
}
